 port = 2999
 Dev_mode= development
 MONGO_URL= mongodb+srv://<username>:<password>@ecommerce.wfhusyr.mongodb.net/<dbname>?retryWrites=true&w=majority
 JWT_SECRET= <JWT_SECRET_TOKEN>
 BRAINTREE_MERCHANT_ID= <BRAINTREE_MERCHANT_ID>
 BRAINTREE_PUBLIC_KEY= <BRAINTREE_PUBLIC_KEY>
 BRAINTREE_PRIVATE_KEY= <BRAINTREE_PRIVATE_KEY>
